@import'./default.css';
@import'./style.css';

.value{
    font-family: "DS-DIGITAL BOLD";
    font-size: 50px;
    color: #fff;
}

.btn{
    border-radius: 30px;
    padding: 12px;
    font-size: 14px;
    width: 150px;
    cursor: pointer;
}

.values{
    display: flex;
}

.blue{
    background-color: #2184d4;
    box-shadow: 5px 5px 10px 0px #2184d4;
}

.green{
    background-color: #1ace59;
    box-shadow: 5px 5px 7px 0px #1ace59;
}

.container-values{
    display: flex;
    flex-direction: row;
    width: 88%;
    height: 90%;
}

.btns{
    display: flex;
    align-items: center;
    gap: 100px;
    flex:1;
}

.box-select{
    gap: 20px;
    display:flex;
    margin-left: 20px;
    align-items:center;
    flex:1;
}

.bitcoin-value{
    width: 100%;
}

.bitcoin-value > div{
    padding: 20px 0;
    width: 100%;
    flex-wrap: wrap;
}

.div-chart{
    height: fit-content;
}

.bonus-portfolio{
    height: 265px;
    padding: 15px
}

.button-rgb{
    width: 130px
}

.container-chart{
    display: flex;
    align-items: center;
    width: 740px;
    height: 100%;
}

.container-history{
    display:flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}

.dropdown-trans{
    display: flex;
    align-items: center;
    gap: 12px;
}

.title-box{
    padding: 9px;
    border-bottom: 1px solid gray;
}

.drop-transaction{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
}

.transactions{
    padding: 15px 0;
    font-size: 14px;
    border-spacing: 63px 22px;
}

.select-transition{
    width: 240px;
}

@media (max-width: 1220px){
    .btns{
        justify-content: center;
    }
    .box-select{
        justify-content: center;
        margin-bottom: 15px;
    }
    .value{
        font-size: 41px;
    }

    .bonus-portfolio{
        width: 100%;
    }

    .vela-interface{
        width: 100%;
    }

    .container-candle{
        width: 100%;
    }
    .table-trans{
        overflow-x: auto;
    }
}

@media (max-width: 800px){
    .drop-transaction{
        flex-direction: column;
        gap: 15px;
    }
    .div-chart{
        width: 220px;
    }
}

@media (max-width: 460px){
    
    .box-select{
        flex-direction: column;
        margin-left: 0;
        gap: 10px;
    }

    .value{
        font-size: 35px;
    }

    .btns{
        gap: 50px;
    }

    .btn{
        width: fit-content;
    }

    .select-transition {
        width: 180px;
    }

    .bonus-portfolio{
        flex-direction: column;
        height: 380px;
    }
}