@import "./default.css";

.div-form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.form-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}
.form-login .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.label-form {
  color: #fff;
  width: 80px;
}
.input-form {
  background: #282363;
  color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 10px;
  width: 400px;
  height: 40px;
}
.input-form::placeholder {
  color: #bbb;
}
.input-password-container {
  position: relative;
  display: flex;
  align-items: center;
}
.input-password-container .icon-password {
  position: absolute;
  display: block;
  background: url("../img/show-password.svg") no-repeat center;
  cursor: pointer;
  right: 10px;
  width: 20px;
  height: 20px;
}
.input-password-container .icon-password.active {
  background-image: url("../img/hide-password.svg") !important;
}
.password-options {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.button-rgb {
  width: 200px;
  height: 40px;
}

.show-password {
  margin-left: 25%;
}

.div-fgt-password {
  margin-left: 27%;
}

.div-email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.div-password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.span-email {
  margin-right: 100px;
}

.span-password {
  margin-right: 68px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80%;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid gray;
  width: 50%;
  padding-bottom: 15px;
}

.logo-size {
  max-width: 350px;
}

.fgt-password {
  color: plum;
  font-size: 10px;
}


@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
