body{
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 50px;
}

a{
    text-decoration: none;
}

ul, li{
    list-style-type: none;
    line-height: 1;
}

canvas, img, footer, header, nav, section, video, audio{
    display: block;
}

div, span, object, iframe, img, table, 
caption, thead, tbody, tfoot, tr, tr, 
td, article, aside, canvas, details, figure, hgroup, 
menu, nav, footer, header, section, summary, mark, audio, video{
    border: 0;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, address, cit, code, del, dfn, 
em, ins, q, samp, small, strong, sub, sup, b, 
i, hr, dl, dt, dd, ol, ul, li, fieldset, legend, label{
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
} 

.section{
    display: flex;
    justify-content: center;
}

.container{
    width: 95%;
    height: 100%;   
}

.header{
    display: flex;
    justify-content: center;
}

/*00000000000000000000------------000000000000000000000000000*/

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, rgba(34,0,127,1)0%, rgba(9,9,121,0.41360294117647056) 70%,  rgba(41,87,167,1)100%);
}

.text-nav{
    margin-top: 14px;
}

.first{
    margin-left: 30px;
}

.last{
    margin-right: 30px;
}

.font{
    font-family: 'Montserrat';
    color: #08A9B0;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Medium.ttf');
}

.page{
    display: block;
    min-height: calc(100vh - 295px);
}

.container1{
    display: block;
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.flex-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px 0;
    margin-block-start: 0.48em;
    flex-direction: row;
}

.header-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    height: 60px;
    width: 100%;
    margin: 0 auto;
}

.center-header{
    margin-block-end: 0.76em;
}


/**/
.small-col{
    height: 400px;
    width: 19%;
}

.container3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    height: 88%;
}
/*
.consolidated-account{
    display: block;
    height: 100%;
    position: relative;
    padding: 30px;
    border: 1px solid #3a395b;
    box-shadow: 0 0 56px 3px rgba(111,89,184,0.1);
    overflow: hidden;
    background: linear-gradient(0deg, rgba(34,0,127,1)0%, rgba(9,9,121,0.41360294117647056) 70%,  rgba(41,87,167,1)100%);
    background: -moz-linear-gradient(top, #323150 0%, #262543 100%);
    background: -webkit-linear-gradient(top, #323150 0%, #262543 100%);
    background: linear-gradient(0deg, rgba(34,0,127,1)0%, rgba(9,9,121,0.41360294117647056) 70%,  rgba(41,87,167,1)100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323150', endColorstr='#262543', GradientType=0);
}

.consolidated-account:after{
    content: '';
    position: absolute;
    right: -65px;
    top: -35px;
    width: 300px;
    height: 100%;
    background: url()center no-repeat;
    background-size: 100%;
    z-index: 0;
}

.inner-title{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.3)
}

.inner-title p{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 12px;
    color: #fff;
    line-height: 1;
    padding-bottom: 10px;
    padding-right: 15px;
}

.consolidated-account-content{
    display: block;
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    z-index: 1;
}

.consolidated-account-content .list{
    display: block;
}

.consolidated-account-content .list-item{
    display: flex;
    margin-bottom: 15px;
}

.consolidated-account-content .list-item sup{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #fff;
    line-height: 1;
    padding: 3px 5px 0 0;
}

.consolidated-account-content .list-item strong{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
}

.consolidated-account-content .list-item span{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 12px;
    color: #ffffff;
    line-height: 1;
    padding: 6px 5px 0 0;
}

.consolidated-account-content .list-item b{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1;
}

.consolidated-account .list-item span:last-child{
    padding: 6px 0 0 5px;
}

.consolidated-account .list-item:last-child{
    padding: 6px 0 0 5px;
}

.consolidated-account .box-btn{
    display: block;
    padding-top: 20px;
}

.consolidated-account .box-btn a{
    min-width: 200px;
    width: auto;
}

.gr-btn{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 5px 15px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 12px;
    z-index: 5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}*/

.box{
    background: linear-gradient(0deg, rgba(34,0,127,1)0%, rgba(9,9,121,0.41360294117647056) 70%,  rgba(41,87,167,1)100%);
}

.logo{
    margin-bottom: 40px;
}

.span-price{
    width: 65px;
    margin-top: 4px;
    margin-left: 10px;
}

.marq{
    margin-top: 5px;
}

.price-up{
    color: lightgreen !important;
}

.price-down{
    color: #EE2248 !important;
}

.moving-text{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
}

.bonus-portfolio{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 40%;
    height: 400px;
}

.button-copy{
    width: 100px;

}

.button-rgb
{
    width: 140px;
    height: 30px;
    margin-left: 128px;
    margin-top: 10px;
    border-radius: 30px; 
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
}

.button-rgb:hover
{
    animation: animate 8s linear infinite;
}

@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}

.button-rgb:before
{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 1s;
}

.button-rgb:hover:before
{
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

.center{
    display: flex;
    justify-content: center;
}

.container4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88%;
    height: 90%;
}

.div-chart{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.chart-size{
    height: 80%;
}

.portfolios{
    overflow: auto;
}


@media only screen and (max-width: 1366px) {

}