@import "./default.css";
@import "./style.css";
@import "./unilvel.css";

/* title */

.title {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px 10px 0px 10px;
}

/* saq */

.saq p:before,
.saq p:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  margin: 10px auto;
}

.saq {
  padding: 10px;
}

.saq p {
  font-size: 14px;
  color: #fff;
}

/* form */

.form {
  padding: 40px;
  color: #fff;
}

.line {
  display: inline-flex;
  gap: 50px;
}

.departament {
  width: 300px;
  margin-top: 5px;
}

.subject input {
  background-color: rgb(33, 23, 90);
  height: 40px;
  width: 770px;
  margin-top: 5px;
  color: #fff;
}

.textarea {
  margin-top: 30px;
}
textarea {
  min-height: 200px;
  width: 100%;
  background-color: rgb(33, 23, 90);
  margin-top: 5px;
  color: #fff;
}

button {
  display: flex;
  align-items: end;
  margin-top: 10px;
}

.line-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.faq{
  display:flex;
  flex-direction:row;
  gap: 7px;
}

.filter{
  padding: 30px;
  width: 270px;
}

.questions{
  padding:30px;
  width:100%;
}

.title-section{
  font-size:15px;
  border-bottom: 1px solid gray;
}

.title-questions{
  display: flex;
  font-size:13px;
  justify-content:space-between;
}

.content-questions{
  display: flex;
  flex-direction:column;
  margin: 40px 0;
}

.questions .content-questions .question-row .inner-accordion{
  display:flex;
  padding: 0 30px 15px 40px;
}

.questions .content-questions .question-row .inner-accordion .font{
  display: flex;
  color: #aab5c2;
  font-size: 12px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.questions .content-questions .question-row{
  display: flex;
  background-color: #2828a5;
  border: 1px solid gray;
  margin-bottom: 5px;
  flex-direction: column;
}

.btn-accordion{
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.3;
  padding: 15px 30px 15px 40px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.btn-section{
  display:flex;
  flex-direction:column;
}

.btn-section .button-rgb{
  font-size: 11px;
}
