.coluns-section{
    width: 100%;
}

.div-coluns{
    display: flex;
    flex-direction: column;
}

.div-legend{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}

.div-legend div{
    width: 100%;
    font-size: 20px;
}

.div-legend span{
    color: darkmagenta;
}

.div-accordion{
    display: flex;
    flex-direction: column;
    
}

.div-number{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 205, 82);
    border-radius: 5px;
    box-shadow: 0 0 15px 5px  rgba(63, 205, 82,0.7);
    height: 50px;
    width: 50px;
}

.div-accordion-container{
    min-height: 600px;
    padding: 30px;
}

.outside-li{
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    padding: 15px;
}

.outside-li > div{
    display: flex;
    align-items: center;
}

.outside-li > div:nth-child(1){
    width: 100%;
}

.number{
    color: black;
}

.ul-accordion{
    border-radius: 5px;
}

.div-data{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.div-data > div{
    display: flex;
    justify-content: space-between;
    width: 68%;
    color: white;
}

.div-data > div > div:nth-child(2){
    margin-left: 70px;
}

.list-dentro{
    margin-top: 20px;
    width: 95%;
    position: relative;
    padding: 25px 0;
    font-size: 15px;
    flex-direction: column;
}

.list-dentro::before{
    content: "";
    height: 1px;
    width: 100%;
    background: rgb(190,190,190);
    display: flex;
    justify-self: center;
    position: absolute;
    top: 0;
}

.head-table{
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.head-table ul{
    display: flex;
    justify-content: space-between;
}

.head-table ul li{
    color: white;
    font-family: 'MontserratLight';
}

.head-table ul li:last-child{
    font-family: 'MontserratBold';
}

.body-table{
    width: 100%;
    padding: 0 10px;
}

.body-table > ul{
    display: flex;
    margin: 15px 0;
    color: white;
}


.body-table > ul li{
    font-family: 'MontserratLight';
}

.body-table > ul li:nth-child(1){
    width: 307px;
}

.body-table > ul li:nth-child(2){
    width: 318px;
}

.body-table > ul li:nth-child(3){
    width: 320px;
}

.body-table > ul li:nth-child(3){
    width: 320px;
}

.body-table > ul li:nth-child(4){
    width: 93px;
    text-align: center;
}

.body-table > ul li:nth-child(4) span{
    padding: 3px 8px;
    background: purple;
    font-family: 'MontserratBold';
}



@media (max-width:1220px){
    .coluns-section{
        overflow-x: auto;
    }

    .div-coluns{
        width: 1000px;
    }
}